.guide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.guide-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.guide-button {
  background-color: #93969a; /* Customize button color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.guide-button:hover {
  background-color: #7d7d7d; /* Darker shade on hover */
}

.guide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide-image {
  position: relative;
  text-align: center;
}

.guide-options {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.guide-description {
  background-color: #f8f9fa; /* Light background for description */
  padding: 10px;
  border-radius: 5px;
}

.toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-slider {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  transition: background-color 0.3s;
}

.toggle-input:checked + .toggle-slider {
  background-color: #007bff;
}

.toggle-input {
  display: none; /* Hide default checkbox */
}
